body, input, textarea, select, div {
    margin: 0;
    padding: 0;
    border: 0;
}

body {

    background-image: url("./assets/images/b28ff73520755530c07cb98cd4c20e0c.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

form {

    /*form of form*/
    padding: 2% 5%;
    width: 60%;

    /*background*/
    background-color: transparent;
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.75);

    /*text*/
    color: white;
    font-size: 20px;
    font-family: sans-serif;
}

form input, select, textarea {
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.75);
    background: white;
}

form input, select {
    min-height: 3em;
    font-size: inherit;
    padding-left: 1em;
}

form div label {
    text-align: left;
    flex-basis: 200px;
}

label:nth-of-type(n+2) {
    display: none;
}


p {
    margin-bottom: 2em;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    border: 3px solid white;
    padding: 0.3em 0;
}

.textWrapper {
    text-align: left;
    width: 100%;
}

.rowWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.rowWrapper input, textarea, select {
    flex-basis: 200px;

}

.rowWrapper input:only-of-type,
textarea:only-of-type,
select:only-of-type {
    flex-grow: 1;
}

.nameInputsWrapper {
    flex-grow: 1;
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nameInputsWrapper input {
    flex-grow: 0.5;
}

.nameInputsWrapper label {
    display: none;
}

.phoneInputsWrapper {
    flex-grow: 1;
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.phoneInputsWrapper label {
    display: none;
}

.phoneInputsWrapper input:nth-of-type(n) {
    flex-grow: 0.25;
}


.phoneInputsWrapper input:last-of-type {
    flex-grow: 0.50;
}


.rowWrapper:nth-child(n) {
    margin-bottom: 1em;
}

.textArea {
    width: 100%;
}




#submit {
    font-size: inherit;
    color: inherit;
    background: transparent;
    border: 2px solid white;
    border-top-width: 3px;
}


.selectCustom {
    background: white;
}

input:invalid {
    background-color: #ffc1c1;
}