

body{

    background-image: url("./assets/images/b28ff73520755530c07cb98cd4c20e0c.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;

    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

form{
    box-shadow: 0 0 5px 4px rgba(0,0,0,0.75);
    display: inline-block;
    height: 80%;
    width: 80%;
    background-color: transparent;

}